* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.primary-color {
  color: #b89e4f;
}

.header {
  display: flex;
}

.section-1 {
  background-color: #f1f1f1;
  padding: 60px 60px;
}

.left-section-1 {
  position: relative;
}

.title-section-1 {
  position: absolute;
  width: 70%;
  top: 20%;
  left: 100%;
  transform: translate(-50%, -50%);
}

.content-section-1 {
  position: absolute;
  width: 90%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.img-section-1 {
  width: 871px;
}

.section-2 {
  background-color: #fff;
  padding: 60px 60px;
  text-align: center;
}

.title-section-2 {
  width: 100%;
  position: relative;
  margin-bottom: 80px;
}

.title-section-2::after {
  content: "";
  position: absolute;
  display: block;
  border-left: 1px solid currentColor;
  height: 4em;
  max-height: 7rem;
  margin-top: 1rem;
  border-color: rgba(184, 157, 79, 1);
  top: 50%;
  left: 50%;
  transform: translate(50%, 50%);
}

.img-slider {
  margin-top: 40px;
  width: 100%;
}

.title-slide {
  margin-top: 40px;
}

.date-slide {
  color: rgba(184, 157, 79, 1);
}

.btn-section-2 {
  margin: 20px 0;
  color: rgba(184, 157, 79, 1);
  padding: 10px 20px;
  border: 1px solid rgba(184, 157, 79, 1);
}

.btn-section-2:hover {
  color: #bf392b;
  background-color: #ffe0e0;
}

.section-3 {
  background-color: #fff;
  padding: 60px 60px;
}

.title-section-3 {
  text-align: center;
  width: 100%;
  position: relative;
  margin-bottom: 110px;
}

.title-section-3::after {
  content: "";
  position: absolute;
  display: block;
  border-left: 1px solid currentColor;
  height: 4em;
  max-height: 7rem;
  margin-top: 1rem;
  border-color: rgba(184, 157, 79, 1);
  top: 50%;
  left: 50%;
  transform: translate(50%, 50%);
}

.content-section-3 {
  margin-top: 40px;
}

.img-section-3 {
  width: 285px;
}

.section-4 {
  background-color: #f1f1f1;
  padding: 60px 60px;
}

.title-section-4 {
  width: 100%;
  text-align: center;
  margin-bottom: 80px;
}

.content-section-4 {
  text-align: center;
}

.content-section-4 img {
  max-width: 442px;
  display: block;
}

.event-section-4 {
  padding: 60px 100px;
  text-align: left;
}

.btn-section-4 {
  margin: 20px 0;
  color: rgba(184, 157, 79, 1);
  padding: 10px 20px;
  border: 1px solid rgba(184, 157, 79, 1);
}

.btn-section-4:hover {
  color: #fff;
  background-color: rgba(184, 157, 79, 1);
}

.section-5 {
  padding: 100px ;
}

a {
  text-decoration: none;
}

.section-5 img {
  max-width: 95%;
}


.section-6 {
  padding: 100px ;
  text-align: center;
}

.title-section-6 {
  margin-bottom: 80px;
}

.section-6 img {
  max-width: 95%;
}

.footer {
  background-color: #000;

}

.container {
  color: rgba(167,167,167,1);
  padding: 0 60px;
}

.nav-item {

}

.navbar-footer {
  padding: 30px 0;
}

.content-footer {
  padding: 40px 0 60px;
}